
:root{
    --light-green-color:#14BB8C;
    --text-grey-color:#787976;
    --dark-green-color:#14BF98;
    --white-color:#ffffff;
    --black-color:#000000;
    --light-grey-color:#DFE5EC;
    --callme-bg-col:#153E52;
    --callme-p-col:#dfe5ec;

}
